[Desktop Entry]
Type=Application
Version=1.0
Name=Curio
Comment=A GUI Flatpak store
Exec=curio %U
Icon=io.github.curio.Curio
Categories=System;PackageManager;
Terminal=false
MimeType=application/vnd.flatpak;application/vnd.flatpak.ref;
